<div class="hero">
  <br /><br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>i don't know how get through life?!?</h1>
    <br />
    <h2>we're here to help</h2>
    <br />
    <%= link_to 'learn more', '#', class: 'btn btn-success' %>
    <br />
  </div>
</div>

<br />

<div class="row feature text-center">
  <div class="col-12 col-sm">
    <h3>jump</h3>
    <br />
    <p>momentarily feel like a bird</p>
  </div>
  <div class="col-12 col-sm">
    <h3>punch</h3>
    <br />
    <p>get out of sticky situations with your hand-mallet</p>
  </div>
  <div class="col-12 col-sm">
    <h3>gab</h3>
    <br />
    <p>fill uncomfortable silences</p>
  </div>
</div>