@import "bootstrap";

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
}

.navbar a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  color: purple;
  font-size: 27px;
}